@import "tailwindcss";

/* IMPORTANT */
@reference utilities;

/* LEFT SCROLL */
@keyframes scroll-left {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

/* RIGHT SCROLL */
@keyframes scroll-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0%); }
}

.animate-scroll-left {
  animation: scroll-left 20s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 20s linear infinite;
}

@import "tailwindcss";

@theme {
  --color-red: #ff0033;
  --color-dark: #000000;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-25px); }
}

@keyframes glow {
  0% { text-shadow: 0 0 20px #ff0033; }
  100% { text-shadow: 0 0 40px #ff0033, 0 0 70px #ff0033; }
}
